Repository Azure/Enterprise-Scale, pull requests merged in 2022-12, with the labels that each got.

#1143 Remove MCSB Overrides in Assignment
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ASBPolicyAssignment.json
Labels: enhancement, policy

#1146 Replace deprecated storage account diagnostic settings policy in initiative
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Diagnostics-LogAnalytics.json
Labels: enhancement, policy, external community contribution

#1155 Data factory Diagnostic settings policy now goes into compliance
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-DataFactory.json
Labels: enhancement, policy

#1156 Add ALZ Custom RBAC Role Defs to ALZ Portal Accelerators
  .github/workflows/update-portal.yml
  docs/wiki/Whats-new.md
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/roleDefinitions/README.md
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/roleDefinitions/Application-Owners.json
  src/resources/Microsoft.Authorization/roleDefinitions/Network-Management.json
  src/resources/Microsoft.Authorization/roleDefinitions/Security-Operations.json
  src/resources/Microsoft.Authorization/roleDefinitions/Subscription-Owner.json
  src/templates/roles.bicep
Labels: enhancement, engineering

#1151 Removed Activity Log Solution in LAW
  docs/reference/treyresearch/armTemplates/auxiliary/logAnalyticsSolutions.json
  docs/reference/treyresearch/armTemplates/es-lite.json
  docs/reference/treyresearch/armTemplates/es-portal.json
  docs/reference/treyresearch/armTemplates/portal-es-lite.json
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/Deploying-ALZ-BasicSetup.md
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/fairfaxeslz-portal.json
  eslzArm/subscriptionTemplates/logAnalyticsSolutions.json
Labels: enhancement, engineering

#1158 Add is it maintained badges
  README.md
Labels: documentation

#1165 Patch/issue1162 - duplicate of PR 1163
  .github/PULL_REQUEST_TEMPLATE.md
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-ASC-SecurityContacts.json
Labels: bug, policy
