Repository Azure/Enterprise-Scale, pull requests merged in 2023-10, with the labels that each got.

#1414 Include AMBA policies in portal accelerator
  docs/reference/adventureworks/README.md
  docs/reference/contoso/Readme.md
  docs/reference/treyresearch/README.md
  docs/reference/wingtip/README.md
  docs/wiki/ALZ-Policies.md
  docs/wiki/Deploying-ALZ-BasicSetup.md
  docs/wiki/Deploying-ALZ-CustomerUsage.md
  docs/wiki/Deploying-ALZ-Foundation.md
  docs/wiki/Deploying-ALZ-HubAndSpoke.md
  docs/wiki/Deploying-ALZ-Pre-requisites.md
  docs/wiki/Deploying-ALZ-VWAN.md
  docs/wiki/Deploying-ALZ.md
  docs/wiki/FAQ.md
  docs/wiki/What-is-Enterprise-Scale.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  docs/wiki/media/ESLZ-Company-Prefix-singlesubscription.jpg
  docs/wiki/media/ESLZ-Company-Prefix.JPG
  docs/wiki/media/ESLZ-Company-Prefix.png
  docs/wiki/media/alz-portal-baselinealerts.jpg
  docs/wiki/media/alz-portal-decommsandbox.jpg
  docs/wiki/media/clip_image010.jpg
  docs/wiki/media/clip_image014-singlesubscription.jpg
  docs/wiki/media/clip_image014.jpg
  docs/wiki/media/clip_image036b-0-singlesubscription.png
  docs/wiki/media/clip_image036c-singlesubscription.png
  docs/wiki/media/clip_image037-3-singlesubscription.jpg
  docs/wiki/media/clip_image037-4-singlesubscription.jpg
  docs/wiki/media/clip_image039-singlesubscription.jpg
  docs/wiki/media/clip_image039.jpg
  docs/wiki/media/zt1.png
  docs/wiki/media/zt3.png
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
Labels: enhancement, policy, PR: Safe to test :test_tube:

#1438 Add Databricks to Audit-PrivateLinkDnsZones
  eslzArm/managementGroupTemplates/policyAssignments/AUDIT-PeDnsZonesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Audit-PrivateLinkPrivateDnsZones.json
Labels: policy, PR: Safe to test :test_tube:

#1442 Rename inconsistent policy files
  docs/wiki/Whats-new.md
  src/resources/Microsoft.Authorization/policyDefinitions/Audit-PrivateLinkDnsZones.json
  src/resources/Microsoft.Authorization/policyDefinitions/DenyAction-ActivityLogs.json
  src/resources/Microsoft.Authorization/policyDefinitions/DenyAction-DiagnosticLogs.json
  src/templates/policies.bicep
Labels: policy, PR: Safe to test :test_tube:

#1437 Azure vWAN Routing Intent support for Portal Deployment
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/subscriptionTemplates/vwan-connectivity.json
Labels: enhancement, PR: Safe to test :test_tube:

#1446 Fix version in Deploy-MDFC-Config initiative
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json
Labels: bug, policy, PR: Safe to test :test_tube:

#1448 Update AMBA version 2023-10-06
  eslzArm/eslzArm.json
Labels: PR: Safe to test :test_tube:

#1443 Portal RI: Fix IP address space overlap with FW/VPN
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/subscriptionTemplates/hubspoke-connectivity.json
Labels: PR: Safe to test :test_tube:

#1447 GH 1423 - Policy PaaS should Disable Public Access for Container Apps
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-EncryptTransit.json
Labels: policy, PR: Safe to test :test_tube:

#1463 FAQ Guidance for Services that won't deploy in ALZ
  docs/wiki/FAQ.md
Labels: documentation, PR: Safe to test :test_tube:

#1464 Wiki Doc updates - GH Releases
  docs/wiki/FAQ.md
  docs/wiki/Whats-new.md
  docs/wiki/media/2023-10-30_RepoTags.png
Labels: documentation
