Repository Azure/Enterprise-Scale, pull requests merged in 2023-08, with the labels that each got.

#1396 Test policy test
  .github/workflows/test-portal.yml
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-MgmtPorts-From-Internet.json
  tests/policy/Deny-AA-child-resources.Tests.ps1.TODO
  tests/policy/Deny-MySql-http.Tests.ps1
  tests/policy/Deny-Redis-http.Tests.ps1.TODO
Labels: policy, PR: Safe to test :test_tube:

#1397 Testing Policy Tests
  docs/wiki/ALZ-Policies-Test-Workflow-Sample.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-MgmtPorts-From-Internet.json
  tests/policy/Deny-Private-DNS-Zones.Tests.ps1
Labels: policy, PR: Safe to test :test_tube:

#1398 fix: make mg diag settings deployment name unique
  eslzArm/eslzArm.json
Labels: PR: Safe to test :test_tube:

#1392 Remediating DINE policies using Owner permissions
  .gitignore
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MySQL-sslEnforcement.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-PostgreSQL-sslEnforcement.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-SQL-minTLS.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-SqlMi-minTLS.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Storage-sslEnforcement.json
  src/resources/Microsoft.Authorization/roleDefinitions/OssDb-Owners.json
Labels: policy, PR: Safe to test :test_tube:

#1400 Updating MDFC initiative to use the latest MDFC for Storage policy
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json
Labels: policy, PR: Safe to test :test_tube:

#1411 Update ALZ Repo (Enterprise-scale) with Entra product names
  docs/EnterpriseScale-Setup-aad-permissions.md
  docs/reference/Readme.md
  docs/reference/azpol.md
  docs/reference/treyresearch/README.md
  docs/wiki/ALZ-Setup-aad-permissions.md
  docs/wiki/ALZ-Setup-azure.md
  docs/wiki/Deploying-ALZ-BasicSetup.md
  docs/wiki/Deploying-ALZ-Foundation.md
  docs/wiki/Deploying-ALZ-HubAndSpoke.md
  docs/wiki/Deploying-ALZ-Pre-requisites.md
  docs/wiki/Deploying-ALZ-VWAN.md
  docs/wiki/Deploying-ALZ.md
  docs/wiki/FAQ.md
  docs/wiki/How-Enterprise-Scale-Works.md
  docs/wiki/Whats-new.md
  docs/wiki/_Sidebar.md
  src/Alz.Tools/functions/Alz.Tools.ps1
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-Databricks-Sku.json
Labels: documentation, Needs: Attention :wave:
