Repository Azure/Enterprise-Scale, pull requests merged in 2023-03, with the labels that each got.

#1213 New initiative for Key Vault guardrails and Corp Networking
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/managementGroupTemplates/policyAssignments/AUDIT-AppGwWafPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/AUDIT-PeDnsZonesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DENY-HybridNetworkingPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/ENFORCE-AcsbPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/ENFORCE-GuardrailsKeyVaultPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Audit-PrivateLinkPrivateDnsZones.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.AzureChinaCloud.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.AzureUSGovernment.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-ACSB.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-KeyVault.json
  src/templates/policies.bicep
Labels: enhancement, policy

#1234 Policy refresh wiki minor update
  docs/wiki/Whats-new.md
Labels: documentation, Needs: Triage :mag:

#1237 Wiki Updates (ALZ Policies) and minor Deny-PublicPaaSEndpoint Initiative update
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v1.xlsx
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.json
Labels: documentation, enhancement, policy

#1240 Add New FAQ Q&A for AMA Migration Topic
  .github/workflows/update-portal.yml
  docs/wiki/FAQ.md
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
Labels: documentation, enhancement

#1239 Deprecate default Databricks policies and assignments
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/managementGroupTemplates/policyAssignments/DENY-DatabricksPipPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DENY-DatabricksSkuPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DENY-DatabricksVnetPolicyAssignment.json
Labels: policy

#1242 Adding ATP assignments for PaaS Databases
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-AtpOssDbPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-AtpSqlDbPolicyAssignment.json
Labels: enhancement, policy, engineering

#1244 Policy-refresh Excel update to reflect current assignments
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v1.xlsx
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
Labels: documentation, policy

#1243 added Defender and Azure Policy for Kubernetes
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json
Labels: enhancement, policy

#1247 Policy: block management ports from the internet
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/managementGroupTemplates/policyAssignments/DENY-MgmtPortsFromInternetPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-MgmtPorts-From-Internet.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-RDP-From-Internet.json
  src/templates/policies.bicep
Labels: enhancement, policy, engineering

#1251 Spelling correction of Susbcription
  docs/reference/Readme.md
Labels: Needs: Triage :mag:

#1248 Enable Zero Trust Networking Intent Telemetry Collection
  docs/wiki/Deploying-ALZ-CustomerUsage.md
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
Labels: enhancement, engineering

#1254 Diagnostic Settings Category Additions - WVD --> AVD & Event Grid
  docs/reference/treyresearch/armTemplates/auxiliary/policies.json
  docs/wiki/Update-ALZ-Custom-Policies-to-Latest.md
  docs/wiki/Whats-new.md
  docs/wiki/media/1.1.update-alz-custom-policy-def-search.png
  docs/wiki/media/1.2.update-alz-custom-policy-def-name.png
  docs/wiki/media/2.2.update-alz-custom-policy-delete-assignments.png
  docs/wiki/media/2.3.update-alz-custom-policy-search.png
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-EventGridTopic.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-WVDHostPools.json
Labels: policy

#1249 Policy Excel Update
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
Labels: policy

#1255 Adding new initiative assignment for Microsoft Defender for Endpoints
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-MDEndpointsPolicyAssignment.json
Labels: enhancement, policy, engineering

#1261 Update FabricBot Config for Jeff Portal Review Action
  .github/fabricbot.json
Labels: engineering

#1258 Updating What's New
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
Labels: documentation, enhancement, policy

#1264 Deprecate custom policy - Deploy SQL DB TDE
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Sql-Tde.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Sql-Security.json
Labels: policy
