Repository Azure/Enterprise-Scale, pull requests merged in 2023-09, with the labels that each got.

#1406 Denyactionpr
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policyDefinitions/DenyAction-ActivityLogSettings.json
  src/resources/Microsoft.Authorization/policyDefinitions/DenyAction-DiagnosticSettings.json
  src/resources/Microsoft.Authorization/policySetDefinitions/DenyAction-DeleteProtection.json
  src/templates/policies.bicep
Labels: policy, PR: Safe to test :test_tube:

#1419 Remediating RBAC Roles on Assignments
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  docs/wiki/media/WN-RBACCleanup.png
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ActivityLogPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-AksPolicyPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-LogAnalyticsPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ResourceDiagnosticsPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-SQLEncryptionPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMBackupPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMSSMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/DenyAction-DeleteProtection.json
Labels: policy, PR: Safe to test :test_tube:

#1418 PR for ADO Item 30462 (GH# 1409: Private DNS Zone for DataBricks)
  docs/wiki/Whats-new.md
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-PrivateDNSZonesPolicyAssignment.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
Labels: PR: Safe to test :test_tube:

#1425 Fix for Diag Setting category for Cosmos DB
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-CosmosDB.json
Labels: policy, Area: Diagnostic Settings, PR: Safe to test :test_tube:
