Repository Azure/Enterprise-Scale, pull requests merged in 2024-06, with the labels that each got.

#1655 Adding note to remove default assignments.
  docs/wiki/Whats-new.md
Labels: Needs: Author Feedback, Type: Documentation :page_facing_up:

#1658 chore: Update policySetDefinitions version to 5.1.0
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.json
Labels: Area: Policy :pencil:, Status: PR Safe To Test :ballot_box_with_check:

#1661 fix: cAsInG
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-EncryptTransit_20240509.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-Network.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-Storage.json
Labels: Area: Policy :pencil:, Status: PR Safe To Test :ballot_box_with_check:

#1662 New custom policy DenyAction Delete UAMI used by AMA
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DENYACTION-DeleteUAMIAMAPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/DenyAction-DeleteResources.json
  src/templates/policies.bicep
Labels: Area: Policy :pencil:, Status: PR Safe To Test :ballot_box_with_check:

#1663 chore: Update Deploy-ASC-SecurityContacts version to 2.0.0
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-ASC-SecurityContacts.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1608 Adding Multi-Region Network Deployment
  docs/wiki/Deploying-ALZ-BasicSetup.md
  docs/wiki/Deploying-ALZ-HubAndSpoke.md
  docs/wiki/Deploying-ALZ-VWAN.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ-secondaryregion-multisubscription.jpg
  docs/wiki/media/ALZ-secondaryregion-singlesubscription.jpg
  docs/wiki/media/clip_image080.png
  docs/wiki/media/clip_image081.png
  docs/wiki/media/clip_image082.png
  docs/wiki/media/clip_image083.png
  docs/wiki/media/clip_image084.png
  docs/wiki/media/clip_image085.png
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/resourceGroupTemplates/privateDnsZones.json
  eslzArm/resourceGroupTemplates/vnetRouteTable.json
  eslzArm/subscriptionTemplates/azFw-basepolicy.json
  eslzArm/subscriptionTemplates/hubspoke-connectivity.json
  eslzArm/subscriptionTemplates/vnetPeering.json
  eslzArm/subscriptionTemplates/vnetPeeringHub.json
  eslzArm/subscriptionTemplates/vnetPeeringVwan.json
  eslzArm/subscriptionTemplates/vwan-connectivity.json
Labels: Area: Accelerator :zap:, Area: Networking :globe_with_meridians:, Type: Documentation :page_facing_up:

#1685 Update Update-ALZ-Custom-Policies-to-Latest.md
  docs/wiki/Update-ALZ-Custom-Policies-to-Latest.md
Labels: PR: Safe to test :test_tube:, Type: Bug :beetle:, Type: Documentation :page_facing_up:

#1675 Workflow OIDC Update
  .github/workflows/test-portal.yml
Labels: PR: Safe to test :test_tube:
