Repository Azure/Enterprise-Scale, pull requests merged in 2024-07, with the labels that each got.

#1692 Multiregion bugfix
  eslzArm/eslzArm.json
  eslzArm/subscriptionTemplates/hubspoke-connectivity.json
  eslzArm/subscriptionTemplates/vwan-connectivity.json
Labels: PR: Safe to test :test_tube:

#1682 Update Deploy-MDFC-Config_20240319 to use the newer defender for CSPM initiative: 72f8cee7-2937-403d-84a1-a4e3e57f3c21
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config_20240319.json
Labels: PR: Safe to test :test_tube:, Area: MDFC :lock:, Area: Policy :pencil:

#1701 fix: casing in set params
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Backup.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1710 Remove duplicate assignment and portal option for Azure Policy Add-on…
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-AksPolicyPolicyAssignment.json
Labels: PR: Safe to test :test_tube:
