Repository Azure/Enterprise-Scale, pull requests merged in 2024-03, with the labels that each got.

#1588 Add Regulatory Compliance Policy Assignment Flexibility Feature
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/ENFORCE-RegulatoryCompliancePolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
Labels: Area: Policy :pencil:, Type: Enhancement :sparkles:, Type: Feature Request :heavy_plus_sign:

#1575 Minor Policy Doc update
  docs/wiki/ALZ-Policies.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
Labels: PR: Safe to test :test_tube:, Type: Documentation :page_facing_up:

#1576 Portal Accelerator Update: Defender for Cloud ARM template and AzFW AZs
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/subscriptionTemplates/mdfcConfiguration.json
Labels: PR: Safe to test :test_tube:, Area: MDFC :lock:, Type: Enhancement :sparkles:

#1578 Private DNS Zones- Bug Fix1485
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-PrivateDNSZonesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:, Type: Enhancement :sparkles:

#1593 Fixes bug with ama role assignments
  docs/wiki/Whats-new.md
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMArcPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMSSPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMHybridMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMSSMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/MODIFY-AUM-CheckUpdatesPolicyAssignment.json
Labels: bug, Needs: Author Feedback, Area: Policy :pencil:, Area: RBAC :passport_control:

#1598 fix: resource case error
  eslzArm/managementGroupTemplates/policyAssignments/MODIFY-AUM-CheckUpdatesPolicyAssignment.json
Labels: PR: Safe to test :test_tube:, Status: PR Safe To Test :ballot_box_with_check:

#1597 Portal Fixes
  eslzArm/eslz-portal.json
Labels: PR: Safe to test :test_tube:

#1605 Trusted Launch Initiative added
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/AUDIT-TrustedLaunchPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Audit-TrustedLaunch.json
  src/templates/policies.bicep
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:, Type: Enhancement :sparkles:

#1601 Backup initiative
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/eslzArm.test.param.json
  eslzArm/managementGroupTemplates/policyAssignments/ENFORCE-BackupPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deny-PublicPaaSEndpoints.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Backup.json
  src/templates/policies.bicep
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:, Type: Enhancement :sparkles:
