Repository Azure/Enterprise-Scale, pull requests merged in 2024-08, with the labels that each got.

#1715 Policy Excel updates
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
Labels: Area: Policy :pencil:

#1711 Updating GH Workflow to validate policy file and meta names are the same
  .github/actions-pester/Test-ModifiedPolicies.Tests.ps1
Labels: PR: Safe to test :test_tube:

#1700 Private DNS Zones Generic Policy Update
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Private-DNS-Generic.json
Labels: Area: Policy :pencil:

#1702 allowedValues alignment
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-KeyVault.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-Kubernetes.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-Network.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-Guardrails-Synapse.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1709 Sentinel Deployment Fix
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/subscriptionTemplates/logAnalyticsSolutions.json
  eslzArm/subscriptionTemplates/logAnalyticsWorkspace.json
Labels: PR: Safe to test :test_tube:, Type: Enhancement :sparkles:

#1728 Private subnet policy and portal update
  docs/wiki/ALZ-Policies.md
  docs/wiki/Whats-new.md
  docs/wiki/media/ALZ Policy Assignments v2.xlsx
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/ENFORCE-SubnetPrivatePolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1733 ER GW and FW Basic Fix
  docs/wiki/Whats-new.md
  eslzArm/subscriptionTemplates/hubspoke-connectivity.json
Labels: PR: Safe to test :test_tube:

#1729 Diag Settings - AllLogs vs Audit
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ResourceDiagnosticsPolicyAssignment.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1731 AddExclusionListToPolicy
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deny-VNET-Peer-Cross-Sub.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:
