Repository Azure/Enterprise-Scale, pull requests merged in 2024-11, with the labels that each got.

#1827 Update EncryptTransit AppServiceTLS param to include 1.3
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Enforce-EncryptTransit_20240509.json
Labels: Area: Policy :pencil:

#1821 feat: allow single parameter dns zone policy
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyAssignments/DINE-PrivateDNSZonesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
  utils/policyTesting/Install-PolicySetDefinitions.ps1
Labels: Needs: Author Feedback, Test: Hub & Spoke

#1828 Update release.json
  src/portal/release.json
Labels: Type: Hygiene :broom:

#1843 Policy: Audit for mandatory tags on resources/resource groups
  docs/wiki/ALZ-Policies-Extra.md
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Audit-Tags-Mandatory-Rg.json
  src/resources/Microsoft.Authorization/policyDefinitions/Audit-Tags-Mandatory.json
  src/templates/policies.bicep
Labels: Area: Policy :pencil:
