Repository Azure/Enterprise-Scale, pull requests merged in 2024-01, with the labels that each got.

#1499 Deploy-Private-DNS-Zones typo for Databricks fixed
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
Labels: policy, PR: Safe to test :test_tube:

#1505 Portal update Private DNS Zone enablement to include a dropdown of services
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
Labels: enhancement, PR: Safe to test :test_tube:

#1520 Portal Accelerator Bug Fixes
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
Labels: PR: Safe to test :test_tube:, Type: Bug :beetle:

#1548 Fix for GHA testing workflow
  .github/workflows/test-portal.yml
Labels: PR: Safe to test :test_tube:

#1533 Deprecating MariaDB custom ALZ policies
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/ALZ-Policies-FAQ.md
  docs/wiki/Deploying-ALZ-ZTNetwork.md
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Diagnostics-MariaDB.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1537 MDFC vulnerability scanning update
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-Config.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:, Type: Enhancement :sparkles:

#1554 AMA doc updates
  docs/wiki/ALZ-AMA-FAQ.md
  docs/wiki/ALZ-AMA-Update.md
  docs/wiki/ALZ-Deprecated-Services.md
  docs/wiki/ALZ-Policies-FAQ.md
  docs/wiki/FAQ.md
  docs/wiki/Whats-new.md
  docs/wiki/_Sidebar.md
Labels: Type: Documentation :page_facing_up:
