Repository Azure/Enterprise-Scale, pull requests merged in 2024-05, with the labels that each got.

#1634 Archive outdated readme content in eslzArm folder
  docs/wiki/Whats-new.md
  eslzArm/README.md
Labels: Type: Documentation :page_facing_up:

#1614 Minor changes to the deprecated policies and services page
  docs/wiki/ALZ-Deprecated-Services.md
Labels: Type: Documentation :page_facing_up:

#1621 Fix on GH issue #1486
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyAssignments/DINE-PrivateDNSZonesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/managementGroupTemplates/roleDefinitions/customRoleDefinitions.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Private-DNS-Zones.json
Labels: PR: Safe to test :test_tube:, Area: Networking :globe_with_meridians:, Area: Policy :pencil:

#1618 New generic policy for PaaS resources private endpoint to override Private DNS zone.
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Private-DNS-Generic.json
  src/templates/policies.bicep
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1649 AMA Updates
  docs/wiki/Whats-new.md
  eslzArm/eslz-portal.json
  eslzArm/eslzArm.json
  eslzArm/managementGroupTemplates/policyAssignments/DENYACTION-ResourceDeletionPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMArcPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-ChangeTrackingVMSSPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-MDFCDefenderSQLAMAPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-UserAssignedIdentityVMInsightsAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/DINE-VMSSMonitoringPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/MODIFY-AUM-VMCheckUpdatesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyAssignments/MODIFY-AUM-VMHybridCheckUpdatesPolicyAssignment.json
  eslzArm/managementGroupTemplates/policyDefinitions/initiatives.json
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  eslzArm/resourceGroupTemplates/dataCollectionRule-CT.json
  eslzArm/resourceGroupTemplates/dataCollectionRule-DefenderSQL.json
  eslzArm/resourceGroupTemplates/dataCollectionRule-VmInsights.json
  eslzArm/resourceGroupTemplates/dataCollectionRule.json
  eslzArm/resourceGroupTemplates/userAssignedIdentity.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MDFC-Arc-SQL-DCR-Association.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MDFC-Arc-SQL-DefenderSQL-DCR.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MDFC-SQL-AMA.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MDFC-SQL-DefenderSQL-DCR.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-MDFC-SQL-DefenderSQL.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-UserAssignedManagedIdentity-VMInsights.json
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-MDFC-DefenderSQL-AMA.json
Labels: PR: Safe to test :test_tube:, Area: Policy :pencil:

#1650 feat: Add evaluationDelay paramter for Deploy-Private-DNS-Generic policy
  docs/wiki/Whats-new.md
  eslzArm/managementGroupTemplates/policyDefinitions/policies.json
  src/resources/Microsoft.Authorization/policyDefinitions/Deploy-Private-DNS-Generic.json
Labels: Area: Policy :pencil:

#1648 Hotfix: previously updated policy not updated in initiative (low priority)
  src/resources/Microsoft.Authorization/policySetDefinitions/Deploy-Sql-Security.json
Labels: PR: Safe to test :test_tube:
